* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  text-align: center;
  padding: 20px;
}

body {
  color: #0d0d0e;
  background-color: #eff3f7;
  font-family: "Comfortaa", "cursive";
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .subtitle {
    margin: 15px;
  }

  .input[type="text"] {
    text-shadow: 90mm;
    width: 160px;
    box-sizing: border-box;
    border: 3px solid rgb(101, 11, 87);
    border-radius: 10px;
    font-size: 16px;
    background-color: #ffffff;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }

  .input[type="text"]:focus {
    width: 100%;
  }

  #zerobox {
    color: blueviolet;
    text-align: center;
    background-color: #fff;
    background-image: url(https://pngimg.com/d/city_PNG20.png);

    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #d6d9dc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cdcdcd;
    font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
  }
  #firstbox {
    text-align: center;
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cdcdcd;
    font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
    margin: 20px;
    padding: 20px;
  }

  #firstbox {
    animation-name: animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  @keyframes animation {
    50.0% {
      color: black;
      background-color: rgba(208, 135, 208, 0.5);
    }
  }
  #city {
    padding: 2px;
    margin-bottom: 1px;
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: medium;
  }
  #btn {
    margin: 5px;
    padding: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px, rgb(31, 193, 27) 0px 0px 0px 1px;
    border-radius: 5px;
  }
  #btn:hover {
    background-color: rgb(168, 6, 6);
  }

  .score {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: small;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: column;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 0 1px blueviolet, 3px 3px 0 0 blueviolet;
  }

  .totScore {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: small;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: inline-table;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 0 1px blueviolet, 3px 3px 0 0 blueviolet;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .subtitle {
    margin: 15px;
  }

  .input[type="text"] {
    text-shadow: 90mm;
    width: 160px;
    box-sizing: border-box;
    border: 3px solid rgb(101, 11, 87);
    border-radius: 10px;
    font-size: 16px;
    background-color: #ffffff;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }

  .input[type="text"]:focus {
    width: 100%;
  }

  #zerobox {
    color: blueviolet;
    text-align: center;
    background-color: #fff;
    background-image: url(https://pngimg.com/d/city_PNG20.png);

    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #d6d9dc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cdcdcd;
    font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
  }
  #firstbox {
    text-align: center;
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cdcdcd;
    font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
    margin: 20px;
    padding: 20px;
  }

  #firstbox {
    animation-name: animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  @keyframes animation {
    50.0% {
      color: black;
      background-color: rgba(208, 135, 208, 0.5);
    }
  }
  #city {
    padding: 2px;
    margin-bottom: 1px;
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: medium;
  }
  #btn {
    margin: 5px;
    padding: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px, rgb(31, 193, 27) 0px 0px 0px 1px;
    border-radius: 5px;
  }
  #btn:hover {
    background-color: rgb(168, 6, 6);
  }

  .score {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: small;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: inline-table;
    margin: 11px;
    padding: 8px;
    box-shadow: 0 0 0 1px blueviolet, 3px 3px 0 0 blueviolet;
  }
  .totScore {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: small;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: inline-table;
    margin: 11px;
    padding: 8px;
    box-shadow: 0 0 0 1px blueviolet, 3px 3px 0 0 blueviolet;
  }
}
@media only screen and (min-width: 1200px) {
  .subtitle {
    margin: 15px;
  }

  .input[type="text"] {
    text-shadow: 90mm;
    width: 160px;
    box-sizing: border-box;
    border: 3px solid rgb(101, 11, 87);
    border-radius: 10px;
    font-size: 16px;
    background-color: #ffffff;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }

  .input[type="text"]:focus {
    width: 100%;
  }

  #zerobox {
    color: blueviolet;
    text-align: center;
    background-color: #fff;
    background-image: url(https://pngimg.com/d/city_PNG20.png);

    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #d6d9dc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cdcdcd;
    font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
  }
  #firstbox {
    text-align: center;
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cdcdcd;
    font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
    margin: 20px;
    padding: 20px;
  }

  #firstbox {
    animation-name: animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  @keyframes animation {
    50.0% {
      color: black;
      background-color: rgba(208, 135, 208, 0.5);
    }
  }
  #city {
    padding: 2px;
    margin-bottom: 1px;
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: medium;
  }
  #btn {
    margin: 5px;
    padding: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px, rgb(31, 193, 27) 0px 0px 0px 1px;
    border-radius: 5px;
  }
  #btn:hover {
    background-color: rgb(168, 6, 6);
  }

  .score {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: medium;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: inline-table;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 0 0 1px blueviolet, 3px 3px 0 0 blueviolet;
  }

  .totScore {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: medium;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: inline-table;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 0 0 1px blueviolet, 3px 3px 0 0 blueviolet;
  }
}
